{% extends "base.html" %}

{% block content %}
<h1 class="title">Search</h1>
<style>
    .title{
        align-content: center;
        font-style: italic;
    }
</style>

{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}

{{form.hidden_tag()}}
<p>
  {{form.select.label}}
  {{form.select}}
</p>
<p>
  {{form.search.label}}
  {{form.search}}
  {% for error in form.search.errors %}
  <span style="color:red">[{{error}}]</span>
  {% endfor %}
</p>

{% endblock %}